body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif; }

.header__image {
  height: 100vh;
  background-image: url("../img/0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%; }
  .header__image ul {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center; }
    .header__image ul li {
      padding: 20px 5px; }
    .header__image ul a {
      color: rgba(222, 224, 227, 0.8);
      text-decoration: none;
      padding: 5px 10px; }
      .header__image ul a:hover {
        color: #dee0e3; }
  .header__image .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .header__image .showcase-content p {
      font-size: 40px;
      width: 50%;
      color: #e8e3e8; }
    .header__image .showcase-content a {
      text-decoration: none;
      background-color: transparent;
      padding: 10px 20px;
      color: #262226;
      border: 1px solid #8f9194; }
      .header__image .showcase-content a:hover {
        background-color: rgba(214, 212, 214, 0.8);
        color: #e8e3e8;
        border: none; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto; }
  .container h2 {
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 1px;
    color: #2a2a2b; }
  .container .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px gray;
    margin: 20px 0; }
    .container .card .image1 {
      flex-shrink: 0;
      display: block;
      width: 200px;
      height: 350px;
      background-image: url("../img/1.jpg");
      background-position: center;
      background-size: cover; }
    .container .card .image2 {
      flex-shrink: 0;
      display: block;
      width: 200px;
      height: 350px;
      background-image: url("../img/2.jpg");
      background-position: center;
      background-size: cover; }
    .container .card .image3 {
      flex-shrink: 0;
      display: block;
      width: 200px;
      height: 350px;
      background-image: url("../img/3.jpg");
      background-position: center;
      background-size: cover; }
    .container .card .text-content {
      padding-left: 10px;
      max-height: 100%;
      color: #262226; }
      .container .card .text-content h3 {
        padding-left: 10px;
        font-size: 200%;
        margin: 0;
        color: #1f061d;
        font-weight: 100; }

.showcase {
  width: 1000px;
  background-color: #8d6f79;
  margin: 0 auto; }
  .showcase h3 {
    text-align: center;
    font-size: 32px;
    padding-top: 10px;
    margin: 0 auto;
    color: #d69aaf; }
  .showcase .showcase-container {
    display: flex;
    flex-direction: row; }
  .showcase-card {
    display: flex;
    flex-direction: row;
    background-color: #cba2b0;
    margin: 0 10px;
    width: 33%;
    height: 150px;
    padding: 5px;
    margin-bottom: 40px; }
    .showcase-card .showcase-image {
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      background-image: url("../img/woman.jpg");
      background-position: center;
      background-size: cover;
      border-radius: 50%; }
    .showcase-card .showcase-text {
      margin-left: 15px;
      color: #ffffff; }

.form {
  width: 650px;
  height: 150px;
  background-color: #8695a2;
  margin: 0 auto;
  color: rgba(222, 224, 227, 0.8); }
  .form h3 {
    text-align: center;
    padding-top: 15px;
    font-weight: 200;
    font-size: 32px;
    color: #c1d1df; }
  .form .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .form .form-group .form-item {
      padding: 10px; }
      .form .form-group .form-item input {
        background-color: #8695a2;
        border: none;
        font-size: 12px; }
      .form .form-group .form-item .line {
        width: 100%;
        height: 2px;
        background-color: #2a2a2b;
        margin-top: 5px; }

.footer {
  background-color: #3d5585;
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  color: #659afe; }
  .footer p {
    color: #000000; }
  .footer-1 {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 10px; }
    .footer-1 .social-icons {
      display: flex;
      flex-direction: row; }
      .footer-1 .social-icons > div {
        margin: 0 10px; }
      .footer-1 .social-icons a {
        padding: 0 10px; }
      .footer-1 .social-icons .facebook {
        background: url("../img/fb_icon.png");
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 30px; }
      .footer-1 .social-icons .instagram {
        background: url("../img/inst_icon.png");
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 30px; }
      .footer-1 .social-icons .skype {
        background: url("../img/sk_icon.png");
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 30px; }
      .footer-1 .social-icons .twitter {
        background: url("../img/tw_icon.png");
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 30px; }
  .footer-2 {
    display: flex;
    flex-direction: row;
    width: 33%;
    margin: 0 10px; }
    .footer-2 .where-to-go {
      display: flex;
      flex-direction: column;
      padding: 0 5px; }
    .footer-2 .footer-link, .footer-2 .footer-heading {
      color: #659afe;
      text-decoration: none; }
    .footer-2 .footer-heading {
      font-weight: bold; }
    .footer-2 .info {
      display: flex;
      flex-direction: column;
      padding: 0 5px; }
      .footer-2 .info a {
        color: #659afe;
        text-decoration: none; }
  .footer-3 {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 10px; }
    .footer-3 input {
      padding: 5px 10px;
      margin: 5px 0; }
    .footer-3 .btn {
      padding: 10px;
      margin: 5px 0;
      background-color: #0a275e;
      color: #fff;
      border: 0;
      cursor: pointer; }
      .footer-3 .btn:hover {
        background-color: #8695a2;
        color: #0a275e; }
    .footer-3 .payment-icons {
      display: flex;
      flex-direction: row; }
      .footer-3 .payment-icons > div {
        margin: 0 10px;
        padding: 10px; }
      .footer-3 .payment-icons a {
        padding: 0 10px; }
      .footer-3 .payment-icons .visa {
        background: url("../img/visa.png");
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 40px; }
      .footer-3 .payment-icons .mastercard {
        background: url("../img/masterCard.png");
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 40px; }
      .footer-3 .payment-icons .privat {
        background: url("../img/Privat24.png");
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 40px; }
      .footer-3 .payment-icons .gpay {
        background: url("../img/GPay.png");
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 40px; }
