body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'system-ui', sans-serif;
  font-weight: 300;
  background-color: rgba(244, 229, 240, 0.2);
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.italic{
  font-style: italic;
}

h2 {
  font-weight: 500;
}

nav {
  background: url('../img/wheat.jpg') no-repeat center center/cover;
  height: 60vh;
  width: 40vw;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar {
  display: grid;
}


.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 22vw;
  margin-top: 0;
  
}

.navbar ul li {
  align-items: center;
  padding: 5px 20px;
  margin-left: 22px;
}

.navbar ul li a {
  font-size: 4vh;
  color: #000;
}




.showcase {
  display: grid;
  grid-template-columns: 40% 60%;
}

.showcase-right {
  margin-top: 3.46vh;
  padding: 3.46vh 4.33vh;
  line-height: 6.93vh;
  height: 60vh;
  letter-spacing: 1px;
  z-index: 1 !important;
}

.showcase-right span {
  color: #e2ba7b;
  font-weight: bold;
}

.showcase-right p {
  font-size: 5.3vh !important;
  
}

.showcase .showcase-right a {
  border: solid #65aa44;
  border-width: 0 2px 0 2px;
  padding: 0.7vh 5.2vh;
  cursor: pointer;
  font-size: 4vh;
  color: #000;
} 


.container {
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.green {
  color: #65aa44;
}

.green-border {
  border: solid #65aa44;
  border-width: 0 0 2px 8px;
  padding: 3px 8px;
}

.group h2 {
  font-size: 5vh;
}

.group p {
  font-size: 3vh;
}

.group .group-items {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.item {
  padding-right: 20px;
}

.group .group-items .item h3 {
  color: #65aa44;
  font-size: 5vh;
  font-weight: 700;
}


.offer h2 {
  font-size: 5vh;
}

.offer p {
  font-size: 3vh;
}



.icons {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}


.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon p {
  font-weight: bold;
}

.icon-1 {
  background: url('../img/icon/car.png') ;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-right: 10px;
}
.icon-2 {
  background: url('../img/icon/cart.png') ;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-right: 10px;
}
.icon-3 {
  background: url('../img/icon/dollar.png') ;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-right: 10px;
}
.icon-4 {
  background: url('../img/icon/pie.png') ;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-right: 10px;
}
.icon-5 {
  background: url('../img/icon/planet.png') ;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-right: 10px;
}


.table  h2 {
  font-size: 5vh;
}

.table p {
  font-size: 3vh;
}

.table {
  background-color:rgba(252, 247, 252, 0.5);
  margin-bottom: 30px;
}

.table table {
  border: 1px solid #dbb81d;
  text-align: center;
  width: 100%;
  margin: 0;
  padding:0;
  border-collapse: collapse;
}
.table tr th, .table thead th {
  color: #777;
  font-size: 3vh;
  font-weight: bold;
  line-height: 18px;
  padding: 9px 12px;
  border: 3px solid #dbb81d;
}
.table tr td {
  padding: 6px 12px;
  border: 3px solid #dbb81d;
  font-size: 3vh;
}
.table tr.odd td {
  background: #f2f7fc;
}


.offer {
  margin-bottom: 30px;
}

.offer h2 {
  font-size: 5vh;
}

.offer li {
  font-size: 3vh;
}

.offer ul li::before {
    content: "●";
    color: #e2ba7b;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }


  .news-content {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    margin-bottom: 30px;
  }

  .news h2 {
    font-size: 5vh;
  }


  .card {
    padding: 5px;
    display: grid;
    grid-template-columns: 25% 75%;
    box-shadow: 0 0 12px 0 #d3d3d3; 
    margin: 5px;
  }

  .card h3, .card p {
    margin: 0;
    padding: 0;
  }

  .card h3 {
    font-weight: 500;
    font-size: 3vh;
  }
  .card p {
    font-size: 3vh;
  }

  .card-img-1 {
    background: url('../img/wheat-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    margin: auto 10px;
  }
  .card-img-2 {
    background: url('../img/tax.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    margin: auto 10px;
  }
  .card-img-3 {
    background: url('../img/wheat-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    margin: auto 10px;
  }

 .card .card-text {
   margin: auto 0;
   margin-left: 2vw;
 }

 .card .card-text p:first-child {
   font-style: italic;
 }

  
footer {
  padding: 0 25px;
  background-color: #f5f5f5;
}

.footer-container {
  max-width: 86vw;
  display: grid;
  grid-template-columns: 10% 30% 35% 25%;
  justify-content:space-between;
  margin: 0 auto;
}

.linkedin {
  background: url('../img/network/linkedin.png') no-repeat center center/cover;
  height: 3.5vh;
  width: 1.6vw;
  padding: 10px;
  margin: 10px 10px 10px 0;
}
.email {
  background: url('../img/network/envelope.png') no-repeat center center/cover;
  height: 3.5vh;
  width: 1.6vw;
  padding: 10px;
  margin: 10px 10px 10px 0;
}
.facebook {
  background: url('../img/network/fb_icon.png') no-repeat center center/cover;
  height: 3.5vh;
  width: 1.6vw;
  padding: 10px;
  margin: 10px 10px 10px 0;
}

.contacts, .representation, .main-office, .switzerland {
  display: flex;
  flex-direction: row;
}

.contacts h3, .representation h3, .main-office h3, .switzerland h3 {
  padding-right: 1.2vw;
  font-size: 3vh;
}
.contacts p, .representation p, .main-office p, .switzerland p {
  font-size: 3vh;
}

.contacts {
  display: flex;
  flex-direction: column;
}


footer div {
  padding: 10px;
}

footer p, footer h3{
  font-size: 16px;
}


.news-color {
  color: #808080;
}


@media screen and (min-width: 769px) and (max-width: 991px) {


  nav {
    background: url('../img/wheat.jpg') no-repeat center center/cover;
    height: 85vh;
    width: 60vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    max-width: 900px;
    margin: 0 20px;
    overflow: hidden;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 12vw;
    margin-top: 0;   
  }

  .navbar ul li {
    align-items: center;
    padding: 5px 10px;
  }
  
  .navbar ul li a {
    font-size: 18px;
    color: #000;
  }


  .showcase-right {
    height: 69vh;
    z-index: 1 !important;
  }

  .showcase-right p {
    margin-top: 15vh;
    line-height: 8vh;
    font-size: 1rem;
  }


  .group {
    margin-top: 10vh;
  }


  .icons {
    grid-template-columns: 50% 50%;
    grid-template-columns: 50% 50% ;

   }


  .table {
    transform: scale(0.85, 0.85);
    margin-left:-5vw;
  }

  .news-content {
    display: flex;
    flex-direction: column;
  }

  .card {
    padding: 5px;
    display: grid;
    grid-template-columns: 25% 75%;
    box-shadow: 0 0 12px 0 #d3d3d3; 
    margin: 5px;
    height: 30vh;
  }

  .card-img-1 {
    background: url('../img/wheat-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 80%;
    margin: auto 10px;
  }

  .card-img-2 {
    background: url('../img/tax.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 80%;
    margin: auto 10px;
  }
  .card-img-3 {
    background: url('../img/wheat-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 80%;
    margin: auto 10px;
  }

  .news-color {
    color: #808080;
    margin-bottom: 20px !important;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .contacts {
    display: flex;
    flex-direction: row;
  } 

  .contacts h3 {
    margin-right: 20vw;
  }

  .representation h3 {
    margin-right: 15vw;
  }

  .main-office h3 {
    margin-right: 19vw;
  }

  .switzerland h3 {
    margin-right: 3.5vw;
  }
}

@media screen and (max-width: 768px) {

  nav {
    background: url('../img/wheat.jpg') no-repeat center center/cover;
    height: 90vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .navbar {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
  }

  .container {
    min-width: 280px;
    margin: 0 20px;
    overflow: hidden;
  }

  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    width: 85vw;
    margin-left: 1vw;
    margin-top: 1vh;
    padding: 0;   
  }

  .navbar ul li {
    align-items: center;
    padding: 5px 10px;
  }
  
  .navbar ul li a {
    font-size: 18px;
    color: #000;
  }

  .showcase {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .showcase-right {
    margin-top: 17.6vh;
    margin-left: -20%;
    line-height: 5.2vh;
    width: 50vw;
    z-index: 1;
    text-align: center;
    height: 50vh;
  }

  .showcase-right p {
    font-size: 1.1rem !important;
    width: 70vw;
    padding: 0;
    margin-left: -18vw;
  }

  .showcase-right a {
    margin-left: -18vw;

  }


  .group {
    margin-top: 20vh;
  }

  .group .group-items {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    padding-right: 20px;
  }
  
  .group .group-items .item h3 {
    color: #65aa44;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
  }


  .icons {
    display: flex;
    flex-direction: column;
  }
  

   .table {
     display: none;
   }



   .card-img-1, .card-img-2, .card-img-3, .card-img-4, .card-img-5 {
     height: 16vh;
     width: 20vw;
   }

   .news-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .news-content .card-text  {
    margin-left: 10px;
  }


  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .contacts {
    display: flex;
    flex-direction: row;
  } 

  .contacts h3 {
    margin-right: 12vw;
  }

  .representation h3 {
    margin-right: 5vw;
  }

  .main-office h3 {
    margin-right: 16vw;
  }

  .switzerland h3 {
    margin-right: 2vw;
  }

}
