body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  min-width: 1100px;
}

a, button:hover {
  cursor: pointer;
}

.container {
margin: 0 auto;
padding: 0 50px;
overflow: hidden;
}


.logo {
  background-image: url('../img/logo.png');
  background-position: left ;
  background-repeat: no-repeat;
  background-size: 100px;
}

.navbar {
  display: grid;
  grid-template-columns: 16% 66% 18%;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: -70px;
}

.navbar-items li {
  padding: 5px 10px;
  list-style-type: none;
}


.navbar-items a {
  text-decoration: none;
  font-size: 10px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}


.btn {
  background-color: #079FD0;
  color: #ffffff;
  border-radius: 15px;
  border: none;
  padding: 5px;
  margin: 10px 0;
  text-transform: uppercase;
}

.gray-part {
  height: calc(100vh - 61.33px);
  width: 78%;
  background-color: #c4c4c4ad;  
  margin-left: 60px;
}


.showcase {
  position: relative;
}

.ebo {
  position: absolute;
  top: 20px;
  left: 150px;
}

.ebo h1 {
  font-size: 240px;
  margin: 0;
  font-weight: normal;
}

.showcase-heading {
  position: absolute;
  top: 240px;
  left: 160px;
}

.showcase {
  margin-left: -60px;
}

.showcase-heading p {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}


.showcase-parag {
  position: absolute;
  top: 370px;
  left: 160px;
}

.showcase-parag p {
  font-size: 24px;
  color: #f0f5f1;
  font-weight: bold;
}

.showcase-image {
  position: relative;
}

.showcase-image img {
  position: absolute;
  top: 80px;
  left: calc(100vw - 50vw);
  height: 360px;
  width: calc(100vw - 80%);
}


.about-1 {
  display: flex;
  margin: 30px 0;
}

.about-1 div {
  flex: 1;
}

.image-1 {
  background: url('../img/cat1.png');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
.image-2 {
  background: url('../img/cat2.png');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 69vh;
}

.about-content {
  padding: 0 5px;
}

.about-content h2 {
  color: #079FD0;
  font-size: 50px;
  margin: 0 auto;
  width: 400px;
}
.about-content p {
  font-size: 5vh;
  margin: 0;
  width: 400px;
  line-height: 40px;
  margin: 25px auto;
}

.about-content a {
  display: block;
  color: #079FD0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.1rem;
  width: 400px;
  margin: 0 auto;
}

.cases {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

.functional h3 {
  color: #079FD0;
  text-align: center;
  margin: 30px 0;
  font-size: 2rem;
  font-weight: 200;
}


.card-image-1 {
  background: url('../img/ebo1.jpg');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 200px;
}

.card-image-2 {
  background: url('../img/ebo2.jpg');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 200px;
}
.card-image-3 {
  background: url('../img/ebo3.jpg');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 200px;
}

.card h2 {
  color: #079FD0;
  width: 300px;
}

.card p {
  width: 250px;
}

.card a {
  text-decoration: none;
  color: #079FD0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.footer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: #C4C4C433;
  padding: 40px 30px 0 60px;
}

.footer .logo {
  margin-left: 20px;
  margin-top: -100px;
}

.copy {
  font-weight: bold;
}

.links {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

.link {
  display: flex;
  flex-direction: column;
}

.link a {
  padding: 10px 5px;
  text-decoration: none;
  color: #000000;
}





