.tm-content-box, .tm-sidebar, #home, #main, #about, #we-are, #our-work, #ideas, #forms { 
  box-shadow: 0 0 12px 0 rgba(61, 55, 61, 0.7); 
}

.tm-banner{
  background: rgba(128, 128, 128, 0.1);
}
.tm-banner-inner{
  background: #ffffff;
}

.tm-nav-item-link:hover {
  background-color:#87cefa;
  color: #e3e2e1;
}

.section-title {
  color:#87cefa;
  font-weight: bold;
}

.color-blue {
  color:#87cefa;
}

#main {
  display: flex;
  align-items: center;
}

#main img{
  width: 100%;
}

#main p:first-letter{
  font-size: 30px;
}

.tm-team-description-container{
  width: 36%;
}

section {
  position: relative
}
section:not(:last-of-type)::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: 255px;
  border-left: 255px solid #00c3d9b3;
  border-bottom: 45px solid transparent;
}

.box-bg {
  transition: all .5s ease; 
}

.box-bg:hover { 
  background-color: #87cefa; 
} 
 
.tm-box-bg-title:hover { 
  font-weight: bold; 
  color: #ffffff; 
}

.capitalize {
  text-transform: uppercase;
}

#we-are {
  display: flex;
  text-align: center;
  justify-content: center;
}

.padding-medium ol {
  display: flex;
  list-style-type: none;
}

.padding-medium ol li {
  padding: 0 20px;
}

#we-are a:visited {
  text-decoration: underline;
}

#our-work p:nth-of-type(1) {
  font-style: italic;
}

#our-work p:nth-of-type(2) {
  font-weight: bold;
}

#our-work .content {
  padding-top: 15px;
}

.box-work{
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
 }
 
 .box-work .link {
   margin-top: auto;
 }

 .box-work h2 {
   font-size: 24px;
   font-weight: bold;
 }

 .box-work a {
   cursor: pointer;
 }

#ideas h2:first-child {
  color: gainsboro;
  letter-spacing: 5px;
}

.mandatory-field::after {
  content: "*";
  color: #f5053d;
  font-weight:bold;
}

#forms button {
  display: block;
  margin-left: auto;
  background-color: #ffffff;
  color: #87cefa;
  border: 1px solid #87cefa;
  border-radius: 0;  
  padding: 12px 50px; 
}

#forms button:hover {
  background-color: #87cefa;
  color:rgba(247, 251, 252, 0.7);
 
}

@media print {

  #we-are, .heading.tm-content-box,.blocks,.tm-content-box, .tm-sidebar, section:not(:last-of-type)::before{
    display:none;
  }

  #home{
    display: block;
    margin: -20px 0;
  }

  body {
    background-color: #fff;
    margin-top:-60px;
  }

  #main{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .tm-team-description-container{
    min-width: 700px;
    padding-bottom: 10px;
  }

  .tm-banner{
    background-color: #ffffff;
  }
  .color-blue{
      color: inherit;
  }

  .flex-2-col .tm-section-title{
    color: #283ced
  }
}

