@import "variables1";
@import "variables2";

@mixin image($image) {
  flex-shrink: 0;
  display: block;
  width: 200px;
  height: 350px;
  background-image: $image;
  background-position: center;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
}

.header__image {
  height: 100vh;
  background-image: $main-image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%; 

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;

    li {
      padding: 20px 5px;
    }

    a {
      color: $navbarcolor;
      text-decoration: none;
      padding: 5px 10px;

      &:hover {
        color: $navbarhover;
      }
    }
  }
  .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;

    p {
      font-size: 40px;
      width: 50%;
      color: $navbarheading;
    }

    a {
      text-decoration: none;
      background-color: transparent;
      padding: 10px 20px;
      color: $paragcolor;
      border: 1px solid $navbarbtn;

      &:hover {
        background-color: $navbarbtnhover;
        color: $navbarheading;
        border: none;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-weight: map-get($font-weights, 'middle');
    font-size: 34px;
    letter-spacing: 1px;
    color: $showcaseheading;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px gray;
    margin: 20px 0;
    // padding: 10px 0;

    .image1 {
      @include image($image1);
    }
    .image2 {
      @include image($image2);
    }
    .image3 {
      @include image($image3);
    }

    .text-content {
      padding-left: 10px;
      max-height: 100%;
      color: $paragcolor;

      h3 {
        padding-left: 10px;
        font-size: 200%;
        margin: 0;
        color: $cardheading;
        font-weight: 100;
      }
    }
  }
}

.showcase {
  width: 1000px;
  background-color:$reviewbgcolor;
  margin: 0 auto;

  h3 {
    text-align: center;
    font-size: 32px;
    padding-top: 10px;
    margin: 0 auto;
    color: $cardbgcolor;
  }

  .showcase-container {
    display: flex;
    flex-direction: row;
  }

  &-card {
    display: flex;
    flex-direction: row;
    background-color: $cardheadcolor;
    margin: 0 10px;
    width: 33%;
    height: 150px;
    padding: 5px;
    margin-bottom: 40px;

    .showcase-image {
        flex-shrink: 0;
        width: 80px;
        height: 80px;
        background-image:  url('../img/woman.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }

    .showcase-text {
      margin-left: 15px;
      color: $cardtextcolor;
    }
  }
}

.form {
  width: 650px;
  height: 150px;
  background-color: $formbgcolor;
  margin: 0 auto;
  color: $navbarcolor;

  h3 {
    text-align: center;
    padding-top: 15px;
    font-weight: 200;
    font-size: 32px;
    color: $formtextcolor;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .form-item {
      padding: 10px;

      input {
      background-color:  $formbgcolor;
      border: none;
      font-size: 12px;
      }

      .line {
        width: 100%;
        height: 2px;
        background-color: $formlinecolor;
        margin-top: 5px;
      }
    }

  }
}

.footer {
  background-color: $footerbg;
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  color: $footerheading;
  
  p {
    color: $footerfeedback;
  }

  &-1 {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 10px;

    .social-icons {
      display: flex;
      flex-direction: row;
      

      & > div {
        margin: 0 10px;
      }

      a {
        padding: 0 10px;
      }


        .facebook {
          background: url('../img/fb_icon.png');
          background-position: center;
          background-size: cover;
          height: 30px;
          width: 30px;
        }
          
        .instagram {
          background: url('../img/inst_icon.png');
          background-position: center;
          background-size: cover;
          height: 30px;
          width: 30px;
        }
        .skype {
          background: url('../img/sk_icon.png');
          background-position: center;
          background-size: cover;
          height: 30px;
          width: 30px;
        }
        .twitter {
          background: url('../img/tw_icon.png');
          background-position: center;
          background-size: cover;
          height: 30px;
          width: 30px;
        }
    }
  }

  &-2 {
    display: flex;
    flex-direction: row;
    width: 33%;
    margin: 0 10px;

    .where-to-go {
      display: flex;
      flex-direction: column;
      padding: 0 5px;
    }

    .footer-link {
      color: $footerheading;
      text-decoration: none;
    }
    .footer-heading {
      @extend .footer-link;
      font-weight: bold;
    }

    .info {
      display: flex;
      flex-direction: column;
      padding: 0 5px;

      a {
        color: $footerheading;
        text-decoration: none;
      }
    }
  }  

  &-3 {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 10px;

    input {
      padding: 5px 10px;
      margin: 5px 0;
    }

    .btn {
      padding: 10px;
      margin: 5px 0;
      background-color: $footerparag;
      color: #fff;
      border: 0;
      cursor: pointer;

      &:hover {
        background-color: $formbgcolor;
        color: $footerparag;
      }
    }

    .payment-icons {
      display: flex;
      flex-direction: row;
      
      & > div {
        margin: 0 10px;
        padding: 10px;
      }

      a {
        padding: 0 10px;
      }


      .visa {
        background: url('../img/visa.png');
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 40px;
      }
      .mastercard {
        background: url('../img/masterCard.png');
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 40px;
      }
      .privat {
        background: url('../img/Privat24.png');
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 40px;
      }
      .gpay {
        background: url('../img/GPay.png');
        background-position: center;
        background-size: cover;
        height: 30px;
        width: 40px;
      }
    }
  }
}
