$navbarcolor: rgba(222, 224, 227, 0.8);
$navbarhover: rgba(222, 224, 227, 1);
$navbarheading: #e8e3e8;
$navbarbtn: #8f9194;
$navbarbtnhover: rgba(214, 212, 214, 0.8);
$showcaseheading: #2a2a2b;
$cardheading: #1f061d;
$paragcolor: #262226;
$reviewbgcolor: #8d6f79;
$cardbgcolor: #d69aaf;
$cardheadcolor: #cba2b0;
$cardtextcolor: #ffffff;
$formbgcolor: #8695a2;
$formtextcolor: #c1d1df;
$formlinecolor: #2a2a2b;
$footerbg: #3d5585;
$footerheading: #659afe;
$footerparag: #0a275e;
$footerfeedback: #000000;
$image1: url("../img/1.jpg");
$image2: url("../img/2.jpg");
$image3: url("../img/3.jpg");
$main-image: url("../img/0.jpg");
$font-weights: ("low": 200, "middle": 400, "black": 900);
