$navbarcolor: #610358;
$navbarhover: #9f86a2;
$navbarheading: #e8e3e8;
$navbarbtn: #8f9194;
$navbarbtnhover: rgba(214, 212, 214, 0.8);
$showcaseheading: #2a2a2b;
$cardheading: #4a214a;
$paragcolor: #530557;
$reviewbgcolor: #725873;
$cardbgcolor: #caa7cc;
$cardheadcolor: #caa7cc;
$cardtextcolor: #ffffff;
$formbgcolor: #79597a;
$formtextcolor: #610358;
$formlinecolor: #2a2a2b;
$footerbg: #8a46de;
$footerheading: #659afe;
$footerparag: #5c2d5e;
$footerfeedback: #000000;
$image1: url("../img/5.jpg");
$image2: url("../img/6.jpg");
$image3: url("../img/7.jpg");
$main-image: url("../img/4.jpg");
$font-weights: ("low": 200, "middle": 400, "black": 900);
