/* CURRENT TASK ISN'T DONE PROPERLY, IT DOESN'T WORK AS IT SHOULD
 I WASN'T ABLE TO FINISH IT BUT DECIDED TO PUSH AMOUNT OF JOB THAT WAS DONE */

body {
  background-color: rgb(244, 222, 222);
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

 #game-board {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 
 .letter-box {
   border: 2px solid gray;
   border-radius: 3px;
   margin: 2px;
   font-size: 2.5rem;
   font-weight: 700;
   height: 3rem;
   width: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
 } 


 .letter-row {
   display: flex;
 }

 .reset, .check {
   padding: 5px 10px;
   margin-top: 20px;
   font-size: 25px;
   background-color: rgb(240, 250, 198);
 }

.reset:hover, .check:hover {
   cursor: pointer;
   background-color: rgb(200, 206, 253);
 }
 
