body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(180deg, blue, yellow);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.primary {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.primary input {
  text-align: center;
  align-self: center;
  width: 160px;
  margin: 20px auto;
  padding: 5px;
}

.button-collection {
  margin: 0 auto;
}

.button-collection .btn-utility {
  margin: 10px;
  text-align: center;
  background-color: #f0f07d;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-primary {
  margin: 40px auto 0 auto;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  font-size: 40px;
  cursor: pointer;
  color: #000000;
  background-color: #9de3fa;
}

